.About
    >div
        margin-bottom: 2rem
        &:first-child
            flexCenter(row)
            >div:first-child
                margin-right: 1.5rem
                
    @media screen and (max-width: 776px)
        >div:first-child
            display: block
            >div:first-child
                margin: 0