.Contact
    display: flex
    .contact-info
        margin-right: 1.5rem
        >div
            margin: 1.25rem 0
            >div:first-child
                font-weight: bold
                
    @media screen and (max-width: 776px)
        display: block