.Home
    .intro
        border-bottom: 1px solid #ccc
        padding-bottom: 2rem
        margin-bottom: 2rem
        img
            margin-bottom: 1rem
    ul li
        list-style-type: circle
        list-style-position: inside