.Services
    h2
        text-transform: uppercase
    >div:first-child
        margin-bottom: 2rem
        border-bottom: 1px solid #ccc
        >ul
            margin-bottom: 1rem
        
    ul li
        list-style-type: circle
        list-style-position: inside
        
    .service-list
        h3
            text-decoration: underline
            margin-top: 1rem

        ol li
            list-style-type: decimal
            margin-bottom: .5rem
            list-style-position: inside
         
        .emphasis
            font-style: italic
            text-decoration: underline